* {
    margin: 10px
}

h1 {
    color: #6969e0;
    border: rgb(170, 170, 228) 3px solid; /* Entre magen y padding */
    margin: 10px;
    padding: 15px;
}

body {
    border: black 2px solid;
    margin: 0;
}

header {
    border: red 2px dotted;
    border-radius: 30px;
    padding: 20px;
}

nav {
    border: orange 3px solid;
    background-image: url(../imagenes/0f7c80d9a0ad078a501e5f402c1baf73.jpg);
    color: white;
}

footer {
    border: green 3px solid;
    background-color: lightblue;
}

footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
}