:root {
    --primary: rgb(181, 136, 136);
    --secondary: rgb(227, 156, 136);
    --background: #f1dad4;
    --border: rgb(207, 158, 144);
    --primary: rgb(181, 136, 136);
}

* {
    margin: 5px;
}

body {
    margin: auto; /*Calcular margenes automaticamente*/
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    border: #dcdcdc 2px solid;
    border-radius: 15px;
    padding: 15px;
}

h1 {
    color: var(--primary);
    border: var(--border) 5px solid; /* Entre magen y padding */
    border-radius: 15px;
    background-color: var(--background);
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /*Agregar sombreado*/
    transition: transform 0.3s ease; /*Mover la pos del elemento*/
    padding: 10px;
}

nav {
    border: var(--border) 3px solid;
    border-radius: 15px;
    background-color: var(--background);
    color: var(--primary);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    padding: 10px;
}

nav h2 {
    text-align: center;
}

nav ul {
    color: var(--secondary);
}

nav a {
    color: black;
    text-decoration: none; /*Quitar el subrayado del link*/
    border-radius: 1px;
    transition: background-color 0.2s ease; /*Cambiar el fondo del link*/
}

/*Cuando se pase por encima del link se cambia su color de fondo*/
nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    border: var(--border) 3px solid;
    background-color: var(--background);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}

/* Cuando se pase encima del objeto (hover) este se mueve en el eje y 1px s*/
h1:hover {
    transform: translateY(-1px);
}

nav:hover {
    transform: translateY(-1px);
}

footer:hover {
    transform: translateY(-1px);
}

li:hover {
    transform: translateY(-1px);
}
